.answer {
  display: flex;
  min-width: 500px;
  width: 80%;
  height: 5rem;
  margin: 0.625rem;
  perspective: 62.5rem;
}

.answerContent {
  position: relative;
  display: flex;
  flex: 1;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.answerContent.answerRevealed {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front {
  align-items: center;
  border-radius: 0.75rem;
  padding: 15px;
  color: #000;
  background-color: #fff;
}

.back {
  transform: rotateY(180deg);
}

.back > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-radius: 0.75rem;
}

.correct {
  background-color: #2baa6d;
}

.wrong {
  background-color: #e44a4c;
}

.correct .value .wrong .value {
  font-size: 1.5rem;
}

.charIndex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 1.25rem;
  font-size: 1.3rem;
  font-weight: bold;
  margin-right: 1.25rem;
  color: #fff;
}

.value {
  font-size: 1.3rem;
  font-weight: bold;
}
